{#{% extends 'base.html' %}#}
{#{% block title %} {{ title }} {% endblock %}#}
{##}
{#{% block sidebar %}#}
{#{% endblock %}#}
{##}
{#{% block navbar %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <!-- Sign In Start -->#}
{#    <div class="container-fluid">#}
{#        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">#}
{#            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">#}
{#                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">#}
{#                    <div class="d-flex align-items-center justify-content-between mb-3">#}
{#                        <a href="index.html" class="">#}
{#                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>#}
{#                        </a>#}
{#                        <h3>Sign In</h3>#}
{#                    </div>#}
{#                    <div class="form-floating mb-3">#}
{#                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">#}
{#                        <label for="floatingInput">Email address</label>#}
{#                    </div>#}
{#                    <div class="form-floating mb-4">#}
{#                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">#}
{#                        <label for="floatingPassword">Password</label>#}
{#                    </div>#}
{#                    <div class="d-flex align-items-center justify-content-between mb-4">#}
{#                        <div class="form-check">#}
{#                            <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#                            <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#                        </div>#}
{#                        <a href="">Forgot Password</a>#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>#}
{#                    <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Sign In End -->#}
{#{% endblock %}#}
{##}
{##}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    {% endblock %}

    {% block css %}
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block favicon %}
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
    {% endblock %}

    <title>{{ title }}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">

                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>GOTAPP</h3>
                        </a>
                        <h3>Sign In</h3>
                    </div>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                            <p>Username OR Password is wrong. <br>Please try again.</p>
                        {% endif %}
                        <div id="div_id_username" class="form-floating mb-3">
                            <input type="text" class="form-control" id="id_username" placeholder="Username" autocomplete="username" name="username">
                            <label for="id_username">Username</label>
                        </div>
                        <div id="div_id_password" class="form-floating mb-4">
                            <input type="password" class="form-control" id="id_password" placeholder="Password" name="password" autocomplete="current-password">
                            <label for="id_password">Password</label>
                        </div>

                        <div>
                            <button class="btn btn-primary w-100 mb-4" type="submit">Sign in</button>
                        </div>
                    </form>
                    <div>
                        <p></p>
                        <span>Don't you have an account? </span>
                        <a href="{% url 'register_user' %}"> Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block js_footer %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/chart/chart.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src={% static "js/main.js" %}></script>
    {% endblock %}
</body>
</html>


{#<div id="div_id_username" class="form-group mb-3">#}
{#    <label for="id_username" class="mb-1 requiredField">#}
{#        Username<span class="asteriskField"></span>#}
{#    </label>#}
{#    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"#}
{#                maxlength="150" class="textinput textInput form-control" required="" id="id_username"#}
{#                placeholder="Username">#}
{#</div>#}
{#<div id="div_id_password" class="form-group mb-3">#}
{#    <label for="id_password" class="mb-1 requiredField">#}
{#        Password<span class="asteriskField"></span>#}
{#    </label>#}
{#    <input type="password" name="password" autocomplete="current-password"#}
{#                class="textinput textInput form-control" required="" id="id_password"#}
{#                placeholder="Password">#}
{#</div>#}