{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    {% endblock %}

    {% block css %}
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block favicon %}
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
    {% endblock %}

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        {% block sidebar %}
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{% url 'home' %}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>GOTAPP</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ user }}</h6>
                        <span>{{ user.usuario.role }}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="{% url 'home' %}" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Home</a>

{#                    <div class="nav-item dropdown">#}
{#                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>#}
{#                        <div class="dropdown-menu bg-transparent border-0">#}
{#                            <a href="button.html" class="dropdown-item">Buttons</a>#}
{#                            <a href="typography.html" class="dropdown-item">Typography</a>#}
{#                            <a href="element.html" class="dropdown-item">Other Elements</a>#}
{#                        </div>#}
{#                    </div>#}
                    {% if user.groups.all.0|stringformat:'s' == 'prestamista' %}
                        <a href="{% url 'list_all_loans' %}" class="nav-item nav-link "><i class="fa fa-chart-bar me-2"></i>Loan applications</a>
                        <a href="{% url 'list_loan_all' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Loans</a>
                    {% endif %}

                    {% if user.groups.all.0|stringformat:'s' == 'cliente' %}
                        <a href="{% url 'add_apply_loan' %}" class="nav-item nav-link "><i class="fa fa-keyboard me-2"></i>Apply to a loan</a>
                        <a href="{% url 'index_loans_list' %}" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>My loan requests</a>
                        <a href="{% url 'list_loan' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>My loans</a>
                    {% endif %}

                    {% if user.groups.all.0|stringformat:'s' == 'cobrador' %}
                        <a href="{% url 'list_aff_loans' %}" class="nav-item nav-link"><i class="fa fa-th me-2 "></i>Affiliated loans</a>
                    {% endif %}

{#                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>#}
{#                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>#}
{#                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>#}
{##}
{#                    <div class="nav-item dropdown">#}
{#                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>#}
{#                        <div class="dropdown-menu bg-transparent border-0">#}
{#                            <a href="signin.html" class="dropdown-item">Sign In</a>#}
{#                            <a href="signup.html" class="dropdown-item">Sign Up</a>#}
{#                            <a href="404.html" class="dropdown-item">404 Error</a>#}
{#                            <a href="blank.html" class="dropdown-item">Blank Page</a>#}
{#                        </div>#}
{#                    </div>#}

                </div>
            </nav>
        </div>
        {% endblock %}

        <!-- Content Start -->
        <div class="content">
            {% block navbar %}
                <!-- Navbar Start -->
                <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                    </a>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="navbar-nav align-items-center ms-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <img class="rounded-circle me-lg-2" src="{% static 'img/user.jpg' %}" alt=""
                                     style="width: 40px; height: 40px;">
                                <span class="d-none d-lg-inline-flex">{{ user.usuario.name }} {{ user.usuario.last_name }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
{#                                <a href="#" class="dropdown-item">My Profile</a>#}
{#                                <a href="#" class="dropdown-item">Settings</a>#}
                                <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Navbar End -->
            {% endblock %}

            <div class="container-fluid pt-4 px-4">
                {% block content %}
                    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                        <div class="col-md-6 text-center">
                            <h3>Home page</h3>
                        </div>
                    </div>
                {% endblock %}
            </div>

            {% block footer %}
                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">GOT APP</a>, All Right Reserved. Project created for the CARIV,  by Ronald Paternina, Jorge Zetien and Herlyn Castillo
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                Designed By <a href="https://htmlcodex.com"> HTML Codex</a>
                            </br>
                            Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->
            {% endblock %}
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
{#        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>#}
    </div>

    {% block js_footer %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/chart/chart.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src={% static "js/main.js" %}></script>
    {% endblock %}
</body>
</html>


{#<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">#}
{#      <div class="container-fluid">#}
{#        <a class="navbar-brand px-4" href="{% url 'home' %}">GOTAPP</a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarText">#}
{#          <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{##}
{#          </ul>#}
{#          <span class="navbar-text px-3">#}
{#            Welcome {{ user.usuario.role }}, {{ user.username }} <a href="{% url 'logout' %}"> Log out</a>#}
{#          </span>#}
{#        </div>#}
{#      </div>#}
{#    </nav>#}
{#    <div class="sidenav">#}
{#		<a class="" href="/">Home</a>#}
{#        <p></p>#}
{#        {% if user.is_staff %}#}
{#            <a href="{% url 'list_user' %}">List all users</a>#}
{#        {% else %}#}
{#            {% if user.usuario.role|stringformat:'s' == 'Prestamista' %}#}
{#                <a href="{% url 'list_all_loans' %}">List all loan applications</a>#}
{#                <a href="{% url 'list_loan_all' %}">List all loans</a>#}
{#            {% elif user.usuario.role|stringformat:'s' == "Cliente" %}#}
{#                <a href="{% url 'add_apply_loan' %}">Apply to a loan</a>#}
{#                <a href="{% url 'index_loans_list' %}">My loan applications</a>#}
{#                <a href="{% url 'list_loan' %}">My loans</a>#}
{#            {% elif user.usuario.role|stringformat:'s' == 'Cobrador' %}#}
{#                <a href="{% url 'home' %}">Affiliated loans</a>#}
{#            {% endif %}#}
{#        {% endif %}#}
{##}
{#	</div>#}
{##}
{#	<div class="main">#}
{#        <div class="d-flex justify-content-center">#}
{#            {% block content %}#}
{#                <p>Home</p>#}
{#            {% endblock %}#}
{#        </div>#}
{#    </div>#}