{% extends 'base.html' %}
{% block title %} Add Apply Loans {% endblock %}

{% load static %}
{% block sidebar %}
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{% url 'home' %}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>GOTAPP</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{ user }}</h6>
                <span>{{ user.usuario.role }}</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'home' %}" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Home</a>
            {% if user.groups.all.0|stringformat:'s' == 'prestamista' %}
                <a href="{% url 'list_all_loans' %}" class="nav-item nav-link "><i class="fa fa-chart-bar me-2"></i>Loan applications</a>
                <a href="{% url 'list_loan_all' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Loans</a>
            {% endif %}
            {% if user.groups.all.0|stringformat:'s' == 'cliente' %}
                <a href="{% url 'add_apply_loan' %}" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Apply to a loan</a>
                <a href="{% url 'index_loans_list' %}" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>My loan requests</a>
                <a href="{% url 'list_loan' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>My loans</a>
            {% endif %}
            {% if user.groups.all.0|stringformat:'s' == 'cobrador' %}
                <a href="form.html" class="nav-item nav-link"><i class="fa fa-th me-2 "></i>Affiliated loans</a>
            {% endif %}
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h5 class="mb-4">Loan application</h5>
                    <div class="form-floating mb-3">
                        <textarea name="description_loan" class="form-control" placeholder="Loan description"
                            id="id_description_loan" style="height: 150px;" required></textarea>
                        <label for="id_description_loan">Loan description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="id_value" name="value"
                            placeholder="Value" required>
                        <label for="id_value">Value</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="id_fee_quantity" name="fee_quantity"
                            placeholder="Fee quantity" required>
                        <label for="id_fee_quantity">Fee quantity</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="id_interest" name="interest"
                            placeholder="TEA (%)" value={{ form.interest.value }} disabled>

                        <label for="id_interest">TEA (Effective Annual Rate)</label>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{#<div class="col-md-6 grid-margin stretch-card">#}
{#    <div class="card">#}
{#        <div class="card-body">#}
{#            <h4 class="card-title">Loan application</h4>#}
{#            <p class="card-description"> Fill the form to ask for a loan </p>#}
{##}
{#            <form method="post" novalidate>#}
{#                {% csrf_token %}#}
{#                {% for field in form.visible_fields %}#}
{#                    <div class="form-group">#}
{#                        <label for="{{ field.id_for_label }}" class="">{{field.label}}</label>#}
{#                        {{ field }}#}
{#                        {% for error in field.errors %}#}
{#                            <span class="help-block" style="color:red">{{error}}</span>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{#                <button type="submit" class="btn btn-primary mr-2">Submit</button>#}
{#                <button class="btn btn-dark">Cancel</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


{#                    <form class="forms-sample" method="post">#}
{#                        {% csrf_token %}#}
{#                        <div class="form-group">#}
{#                            <label for="exampleInputUsername1">Username</label>#}
{#                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="exampleInputEmail1">Email address</label>#}
{#                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="exampleInputPassword1">Password</label>#}
{#                            <input type="password" class="form-control" id="exampleInputPassword1"#}
{#                                   placeholder="Password">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="exampleInputConfirmPassword1">Confirm Password</label>#}
{#                            <input type="password" class="form-control" id="exampleInputConfirmPassword1"#}
{#                                   placeholder="Password">#}
{#                        </div>#}
{#                        <div class="form-check form-check-flat form-check-primary">#}
{#                            <label class="form-check-label">#}
{#                                <input type="checkbox" class="form-check-input"> Remember me </label>#}
{#                        </div>#}
{#                        <button type="submit" class="btn btn-primary mr-2">Submit</button>#}
{#                        <button class="btn btn-dark">Cancel</button>#}
{#                    </form>#}
