{% extends 'base.html' %}
{% block Title %} Detail {% endblock %}
{% block content %}
<div class="container">
<div>
    Aprobar prestamo
</div>
    <div class="'row justify-content-md-center pt-5">
        <form action={% url 'detail_loan_app' request.id %} method="POST">
            {% csrf_token %}
            Seleccionar Cobrador
            <div class="'col-md-8">
                <div class="col-12"><h1>{{form.id_cobrador}}</h1></div>
                <br/>
                <br/>
                Comentario sobre prestamo
                <div class="col-12"><p><b>{{form.comment}}</b></p></div>

            Descripcion de prestamo: {{request}}
            <div class="col-12">Solicitante: {{request.id_user.name}}</div>
            <div class="col-12"><p>Valor prestamo solicitado: {{request.value}}</p></div>

            {% if request.status_application|stringformat:'s' == 'En proceso..' %}
                <button name="status" type="submit" class="btn btn-success" value="Aprobado">Aprobar</button>
                <button name="status" type="submit" class="btn btn-danger" value="Rechazado">Rechazar</button>
            {% endif %}
        </form>
            <a href="{% url 'list_all_loans' %}" class="btn btn-secondary">Back</a>

    </div>
</div>
{% endblock %}