{% extends 'base.html' %}
{% block title %}
    List of loans
{% endblock %}

{% load static %}
{% block sidebar %}
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="{% url 'home' %}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>GOTAPP</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt=""
                         style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">{{ user }}</h6>
                    <span>{{ user.usuario.role }}</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="{% url 'home' %}" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Home</a>
                {% if user.groups.all.0|stringformat:'s' == 'prestamista' %}
                    <a href="{% url 'list_all_loans' %}" class="nav-item nav-link "><i class="fa fa-chart-bar me-2"></i>Loan
                        applications</a>
                    <a href="{% url 'list_loan_all' %}" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Loans</a>
                {% endif %}
                {% if user.groups.all.0|stringformat:'s' == 'cliente' %}
                    <a href="{% url 'add_apply_loan' %}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Apply
                        to a loan</a>
                    <a href="{% url 'index_loans_list' %}" class="nav-item nav-link"><i
                            class="far fa-file-alt me-2"></i>My loan requests</a>
                    <a href="{% url 'list_loan' %}" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>My
                        loans</a>
                {% endif %}
                {% if user.groups.all.0|stringformat:'s' == 'cobrador' %}
                    <a href="{% url 'list_aff_loans' %}" class="nav-item nav-link"><i class="fa fa-th me-2 "></i>Affiliated loans</a>
                {% endif %}
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="my-3">
        <h1 class="text-center">List of loans </h1>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Balance</th>
                <th>Remaining quotas</th>
                <th>Debt Collector</th>
                <th>Is completed</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if loan %}
                {% for item in loan %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.id_request }}</td>
                        <td>{{ item.balance }}</td>
                        <td>{{ item.num_quotas_left }}</td>
                        <td>{{ item.id_cobrador }}</td>
                        <td>
                            {% if item.is_completed %}
                                <img src="{% static 'img/icon-yes.svg' %}" alt="True">
                            {% else %}
                                <img src="{% static 'img/icon-no.svg' %}" alt="True">
                            {% endif %}
                        </td>
                        <td>
                            {% if user.groups.all.0|stringformat:'s' == 'cliente' %}
                                {% if not item.is_completed %}
                                    <a href="{% url 'create_payment' item.id %}" class="btn btn-outline-success"> Pay</a>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'list_payment' item.id %}" class="btn btn-outline-success"> See payments</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>No data found</th>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
