{% extends 'base.html' %}

{% block title %}
    List of users
{% endblock %}

{% block content %}
    <div class="my-3">
        <h1 class="text-center">List of users</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.name | capfirst }}</td>
                            <td>{{ user.last_name | capfirst }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th>No data found</th>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}

{#    <ul>#}
{#        {% for user in users %}#}
{#        <li><a href="{{ user.id }}">Name: {{ user.name | capfirst }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <a href="{% url 'register_user' %}">Register new user</a>#}
