<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="p-5">
                    <div class="my-3">
                        <h1>{{ title }} GOT APP!</h1>
                    </div>
                    <form action="{% url 'login_user' %}" method="POST">
                        {% csrf_token %}
{#                        {% if form.errors %}#}
{#                            <p>Username OR Password is wrong. Please try again.</p>#}
{#                        {% endif %}#}
                        <div id="div_id_username" class="form-group mb-3">
                            <label for="id_username" class="mb-1 requiredField">
                                Username<span class="asteriskField"></span>
                            </label>
                            <div>
                                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                                        maxlength="150" class="textinput textInput form-control" required="" id="id_username"
                                        placeholder="Username">
                            </div>
                        </div>
                        <div id="div_id_password" class="form-group mb-3">
                            <label for="id_password" class="mb-1 requiredField">
                                Password<span class="asteriskField"></span>
                            </label>
                            <div>
                                <input type="password" name="password" autocomplete="current-password"
                                        class="textinput textInput form-control" required="" id="id_password"
                                        placeholder="Password">
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                    <div>
                        <p></p>
                        <span>Don't you have an account? </span>
                        <a href="{% url 'register_user' %}"> Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>