<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% block fonts %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    {% endblock %}

    {% block css %}
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block favicon %}
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
    {% endblock %}

    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="index.html" class="">
                                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>GOTAPP</h3>
                            </a>
                            <h3>Sign Up</h3>
                        </div>
                    <form action="{% url 'register_user' %}" method="POST">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="form-group mb-3">
                                {% if field.label == 'Password1' %}
                                    <label for="{{ field.id_for_label }}" class="mb-1 requiredField">Password: </label>
                                {% elif field.label == 'Password2' %}
                                    <label for="{{ field.id_for_label }}" class="mb-1 requiredField">Password confirmation: </label>
                                {% else %}
                                    <label for="{{ field.id_for_label }}" class="mb-1 requiredField">{{ field.label }}: </label>
                                {% endif %}
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="help-block" style="color:red">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div>
                            <button class="btn btn-primary w-100 mb-4" type="submit">Register</button>
                        </div>
                        <p></p>
                        <p>
{#                        {% for message in messages %}#}
{#                            {{ message }}#}
{#                        {% endfor %}#}
                        </p>
                        <span>Do you already have an account? </span>
                        <a href="{% url 'login' %}"> Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block js_footer %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/chart/chart.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src={% static "js/main.js" %}></script>
    {% endblock %}
</body>
</html>

